@use "../../scss/" as *;

.post-group {
    position: relative;
    z-index: 2;

    &__content {
        overflow: hidden;
    }
    .swiper-slide {
        width: 12%;
        @include tablet {
            width: 20%;
        }

        @include mobile {
            width: 25%;
        }
    }

    .title {
        font-size: 15px;
        margin: 1rem 0;
    }

    &.top {
        margin-top: -5%;
    }
}
