@use "../../scss/" as *;

header {
    .nav {
        height: $header-height;
        position: fixed;
        width: 100%;
        font-size: 0.8rem;
        background-color: transparent;
        transition: background-color 0.5s ease, height 0.5s ease;
        z-index: 9999;

        &__content {
            @include flex(center, flex-start);

            @include mobile {
                justify-content: center !important;
            }

            .logo {
                width: 80px;
                &.kids {
                    padding-top: 0.5rem;
                    width: 140px;
                }
            }

            &__list {
                margin-right: 20px;
                @include flex(center, flex-start);
                .nav__content__list__item.kids {
                    font-size: 0.8rem;
                    color: $black-main;
                }
                @include mobile {
                    display: none;
                }

                & > * ~ * {
                    margin-right: 20px;
                }
            }
        }

        &.shrink {
            background-color: $black-main;
            height: $header-shrink-height;
            &.kids {
                background-color: #ffffff;
            }
        }
    }
}
