@use "../../scss/" as *;

.carousel {
    position: relative;
    z-index: 2;

    &__content {
        overflow: hidden;
    }
    .swiper-slide {
        width: 13.5%;
        @include tablet {
            width: 20%;
        }

        @include mobile {
            width: 35%;
        }
    }

    &.banner {
        .swiper-slide {
            width: 26%;
            @include tablet {
                width: 40%;
            }

            @include mobile {
                width: 50%;
            }
        }
    }
}
