@use "../../scss/" as *;

.carousel {
    position: relative;
    z-index: 2;

    &__content {
        overflow: hidden;
    }
    .swiper-slide {
        width: 13.5%;
        @include tablet {
            width: 20%;
        }

        @include mobile {
            width: 35%;
        }
    }

    &.banner {
        .swiper-slide {
            width: 26%;
            @include tablet {
                width: 40%;
            }

            @include mobile {
                width: 50%;
            }
        }
    }

    .carousel-des {
        display: block;
        transition: height 0.5s ease, opacity 0.5s ease;
        transition-delay: 250ms;
        margin-top: 2rem;
        width: 100vw;
        height: 0;
        background-repeat: no-repeat;
        background-size: 80vw auto;
        background-color: $black-main;
        opacity: 0;

        @include tablet {
            background-size: 100vw auto;
        }

        &.active {
            height: 50.875vh;

            @include tablet {
                background-size: 100vw auto;
            }
            opacity: 1;
        }

        @media only screen and (max-width: calc($mobile-width + 300px)) {
            visibility: hidden;
            display: none;
        }

        &__content {
            padding-top: 7rem;
            padding-bottom: 7rem;

            & > * ~ * {
                margin-top: 1rem;
            }

            h2 {
                font-size: 16px;
            }

            .badges {
                @include flex(flex-start, flex-start);
                text-align: center;
                white-space: nowrap;

                & > * ~ * {
                    margin-right: 1rem;
                }
                .badge {
                    @include flex(center, center);

                    & > * ~ * {
                        margin-right: 0.2rem;
                    }

                    &.range {
                        color: #000000;
                        width: 28px;
                        height: 18px;
                        display: inline-block;
                        font-size: 14px;
                        font-weight: bold;
                        border-radius: 4px;
                        vertical-align: middle;

                        &.r__15 {
                            background-color: rgb(240, 132, 83);
                        }

                        &.r__12 {
                            background-color: rgb(255, 196, 0);
                        }

                        &.r__7 {
                            background-color: rgb(242, 242, 242);
                        }

                        &.r__3 {
                            background-color: rgb(153, 193, 77);
                        }

                        &.r__18 {
                            background-color: rgb(217, 92, 92);
                        }
                    }
                }
            }

            .story {
                max-width: 40%;
            }

            .btns {
                @include flex(center, flex-start);
                gap: 1rem;
            }
            .space::after {
                content: "-";
                padding: 0 0.5rem;
            }
        }
    }
}
