@use "../../scss/" as *;

.banner-group {
    position: relative;
    z-index: 2;

    &__content {
        overflow: hidden;
    }
    .swiper-slide {
        width: 26%;
        @include tablet {
            width: 40%;
        }

        @include mobile {
            width: 50%;
        }
    }
}
