@use "./scss/" as *;

@import url("https://v1.fontapi.ir/css/Yekan");
* {
    font-family: "Yekan", serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

svg {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

html {
    font-size: 100%;

    @include tablet {
        font-size: 90%;
    }

    @include mobile {
        font-size: 80%;
    }
}

body {
    font-weight: 400;
    line-height: 1.5;
    scroll-behavior: smooth !important;
    background-color: $black-main;
    color: $white;
    direction: rtl;
    font-size: 12px;
    @include mobile {
        margin-bottom: 5rem;
    }
}

a {
    text-decoration: none;
    color: unset;
}

@media (hover: hover) {
    a:hover {
        color: $blue;
    }
}

button,
input {
    outline: none;
}

ul {
    list-style-type: none;
}

img {
    width: auto;
    display: block;
}

iframe {
    border: none;
}

.container {
    max-width: 1760px;
    margin: auto;
    padding: 0 3rem;
    @include mobile {
        padding: 0;
    }

    @include tablet {
        padding: 0 1.5rem;
    }
}

.logo {
    fill: white !important;
}

.title-group {
    font-size: 15px;
    margin: 1rem 0;
}

.my-2 {
    margin: 2rem 0;
}

.top {
    margin-top: -5%;
}
