$blue: #6eb8ff;
$white: #ffffff;
$black-main: #1a1a1a;
$black-second: #3a3a3a;
$gray-main: #b4b4b4;
$gray-second: #767676;
$blue-dark: #19128e;

$font-poppins: "Poppins";
$font-brandon-grotesque: "Brandon Grotesque Regular";

$header-height: 5rem;
$header-shrink-height: 4rem;

$border-radios: 10px;

$mobile-width: 600px;
$tablet-width: 1124px;
